body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.screen {
    background: #aaa;
    padding: 20px;
    display: none;
}

.visible {
    display: block;
}
.invisible {
  display: none;
}

.display {
    width: 600px;
    margin: auto;
    margin-top: 256px;

}

.title {
    text-align: center;
}
.actions {
    text-align: left;
}
.scores {
    padding: 0px 10px 10px 10px     
}
.scoreValue {
    color: #00ffe1;  
}
.button-54 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}

#playersCards {
  height:120px
}

.cards {
  position:relative;
}

.card {
  width:73px;
  height:97px;
  background:url(cards.png);
  position:absolute;
  left:0px;
  top:0px;
}

.card-hearts { background-position-y: -198px}
.card-diamonds { background-position-y: -297px}
.card-clubs { background-position-y: 0px}
.card-spades { background-position-y: -99px}
.card-a { background-position-x: 0}
.card-2 { background-position-x: -73px}
.card-3 { background-position-x: calc(-73px * 2)}
.card-4 { background-position-x: calc(-73px * 3)}
.card-5 { background-position-x: calc(-73px * 4)}
.card-6 { background-position-x: calc(-73px * 5)}
.card-7 { background-position-x: calc(-73px * 6)}
.card-8 { background-position-x: calc(-73px * 7)}
.card-9 { background-position-x: calc(-73px * 8)}
.card-10 { background-position-x: calc(-73px * 9)}
.card-j { background-position-x: calc(-73px * 10)}
.card-q { background-position-x: calc(-73px * 11)}
.card-k { background-position-x: calc(-73px * 12)}